# Server
PORT=4173

# PIN gate
DASHBOARD_PIN=052809

# Alpaca
ALPACA_API_KEY= PKHNQGYLKKRQHVB2ROKQOG72F5
ALPACA_API_SECRET= GdMncxHz2wEk4QagU4k9yS2PW3EtQz2DeK6fKYyZRbW1
ALPACA_BASE_URL=https://paper-api.alpaca.markets

# Groq
GROQ_API_KEY= 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

# Render
RENDER_API_KEY=
